seaborn==0.11.1
pandas==1.2.4
torchvision==0.9.1
pycocotools==2.0.2
tqdm==4.61.0
pydicom==2.1.2
numpy==1.20.3
scipy==1.6.3
opencv_python==4.5.2.52
thop==0.0.31.post2005241907
requests==2.25.1
matplotlib==3.4.2
torch==1.8.1
coremltools==4.1
Flask==2.0.1
onnx==1.9.0
pafy==0.5.5
Pillow==8.2.0
protobuf==3.17.1
PyYAML==5.4.1
scikit_learn==0.24.2
